<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings file="Publish.exe.secrets">

    <!-- Service Url-->
    <!-- Prod and Local Swarm-->
    <!--<add key="BaseUrl" value="http://*:8080" />-->
    <!-- Local Dev -->
    <add key="BaseUrl" value="http://*:8084" />
    
    <!-- Other Service-->
    <!-- Prod and Local Swarm -->
    <!--<add key="SessionsServiceUrl" value="http://sessions:8080"/>-->
    <!-- Local Dev -->
    <add key="SessionsServiceUrl" value="http://localhost:8083"/>
  </appSettings>
</configuration>
